.idea
node_modules
.idea/*
java/.DS_Store
java/functional/.DS_Store
java/functional/src/.DS_Store
java/functional/src/main/.DS_Store
java/functional/src/main/java/.DS_Store
java/functional/src/main/java/com/.DS_Store
java/functional/src/main/java/com/gf/.DS_Store
java/functional/src/main/java/com/gf/education/.DS_Store
java/functional/src/main/resources/.DS_Store
.DS_Store
java/.mvn/wrapper/maven-wrapper.jar
java/.mvn/wrapper/maven-wrapper.properties
java/.mvn/wrapper/MavenWrapperDownloader.java
java/.mvn/wrapper/maven-wrapper.jar
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/3/1/31129415b14253f12ec11f227378bd3ae71957fe
.idea/sonarlint/issuestore/0/e/0ebe3f09bd044a69f232de82b924b69350ebfcfc
.idea/qaplug_profiles.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_27.xml
.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_1.xml
.idea/libraries/Maven__org_springframework_spring_web_5_3_1.xml
.idea/libraries/Maven__org_springframework_spring_test_5_3_1.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_3_1.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_3_1.xml
.idea/libraries/Maven__org_springframework_spring_core_5_3_1.xml
.idea/libraries/Maven__org_springframework_spring_context_5_3_1.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_3_1.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_3_1.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_4_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_4_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_4_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_4_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_4_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_4_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_4_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_4_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_4_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_4_0.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/libraries/Maven__org_objenesis_objenesis_3_1.xml
.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_6_0.xml
.idea/libraries/Maven__org_mockito_mockito_core_3_6_0.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_0.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_7_0.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
.idea/libraries/Maven__org_assertj_assertj_core_3_18_1.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_39.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_39.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_18.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_18.xml
.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/jarRepositories.xml
.idea/intellij-javadocs-4.0.1.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/encodings.xml
.idea/educacion.iml
.idea/compiler.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/aws.xml
.idea/$PROJECT_FILE$
.idea/compiler.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_16.xml
.idea/saveactions_settings.xml
.idea/sonarlint/issuestore/1/7/170db00bc4ddc7aabc22599b0a8579d8d654eb7e
.idea/sonarlint/issuestore/3/2/32d98117b2dd826f1554a4f7ea8a7efabf201fbf
.idea/sonarlint/issuestore/4/c/4c85c66e6f82061f357cf7a47a2b6edfdbc275cd
.idea/sonarlint/issuestore/6/b/6b7187d409db516aee4566ba7ee21d428bf27c25
.idea/sonarlint/issuestore/7/9/7902537e462a91dd76fa6146a6484faac7a6e4ff
.idea/sonarlint/issuestore/9/2/92685bbcb1fd3615ef8eb089d0f937cb9d122b12
.idea/sonarlint/issuestore/b/7/b79f815c392666bebb4370a5316a0bcfcedd4202
.idea/sonarlint/issuestore/f/3/f34d7b86fcaf72b18523f6b591c33752062f61ce
.idea/uiDesigner.xml
